.container {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: space-between;
  padding: 15px;
}

.column {
  width: 100%;
  margin-right: 5px
}

.column-header {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  width: 100%;
  padding: 5px;
  border-radius: 4px;
}

.column-header h2 {
  margin-right: 6px;
}

.column-content {
  background-color:#eee;
  height: 80%;
  border-radius: 4px;
  padding: 8px;
}

/* TICKET  */
.ticket {
  width: 100%;
  background-color: #FFF;
  border-radius: 4px;
  padding: 8px;
  cursor: pointer;
  margin-bottom: 8px;
}

.ticket p {
  font-size: 1rem;
}

.ticket span {
  font-size: 0.8rem;
}

.ticket h3 {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#login-page-container {
  height: 100vh;
}